@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drive {
    0% {
      transform: translateX(-100%) translateY(50%);
    }
    100% {
      transform: translateX(400%) translateY(50%);
    }
  }
  
  .animate-drive {
    animation: drive 10s linear infinite;
  }
  
  