@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes drive {
    0% {
      transform: translateX(-100%) translateY(50%);
    }
    100% {
      transform: translateX(400%) translateY(50%);
    }
  }
  
  .animate-drive {
    animation: drive 10s linear infinite;
  }
  
  
  
body{
  overflow-x: hidden;
  font-family: "Oswald", serif;  /* font-family: "Anonymous Pro", serif; */
  font-weight: 500;

}
